<div class="header-second">
  <div class="header-second__content">
    <span class="header-second__number">Справочный центр: <b>+7 (978) 062 - 02 - 12</b></span>
    <div class="header-second__menu">
      <div class="header-second__menu__item" [routerLink]='"/faq"'>FAQ</div>
      <div class="header-second__menu__item" [routerLink]='"/contact"'>Контакты</div>
    </div>
  </div>
</div>
<div class="header">
  <div class="header__content">
    <div class="header__logo">
      <img class="header__logo__img" src="../../../assets/image/logo.png" alt="">
      Металлоизделия
    </div>
    <div class="header__secondary-logo"></div>
    <div class="header__menu">
      <div class="header__menu__item" [routerLink]='""' >Главная</div>
      <div class="header__menu__item" [routerLink]='"/goods"' >Товары</div>
      <div class="header__menu__item" [routerLink]='"/individual/0"'>Индивидуальный заказ</div>
    </div>
  </div>
</div>
